<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Création du menu principal -->
    <menuitem id="main_menu" name="Cabinet d'Avocat" sequence="1"  />
    <menuitem name="Configuration" id="main_menu_configuration" parent="main_menu"
            sequence="1"
            />

    <!-- Sous-menu "Associe" -->
    <menuitem id="menu_associate" name="Associe" sequence="1"
     parent="main_menu_configuration" action="avocat_associe_action" />

    <!-- Sous-menu "Notaire" -->
    <menuitem id="menu_notaire" name="Notaire" sequence="2"
     parent="main_menu_configuration" action="avocat_notaire_action" />

    <!-- Sous-menu "Fonction" -->
    <menuitem id="menu_fonction" name="Fonction" sequence="3"
     parent="main_menu_configuration" action="avocat_fonction_action" />
</odoo>
